<div class="row">
	<div class="large-9 large-centered column">
		<%= render 'shared/article', article: @article %>
	</div>
	<div class="large-1 large-centered column">
		<%= link_to 'Back', articles_path %>
	</div>
</div>