<article class="row">
	<section class="title">
		<h2><%= article.title %></h2>
	</section>

	<section class="title">
		<p><%= article.category.name %><p>
	</section>

	<section class="test">
		<%= simple_format article.text%>
			<% if logged_in? && current_user.admin? && !current_user?(@user) %>
				<%= link_to 'Delete', article_path(article),
					method: :delete,
					date: { confirm: 'Are you sure?' } %>
			<% else %>
			<% end %>
	</section>

<footer class="row">
	<div class="large-12 columns">
		<hr/>
			<div class="row">
				<div class="large-6 columns">
              		<p>© All rights reserved.</p>
            	</div>
            </div>
        </div>
    </div>
</footer>
</article>