<article>
	<section>
		<h2><%= article.title %></h2>
	</section>

	<section>
		<h3><%= article.category.name %></h3>
	</section>

	<section>
		<p><%= article.text.to_s %></p>
			<% if logged_in? && current_user.admin? && !current_user?(@user) %>
				<%= link_to 'Delete', article_path(article),
					method: :delete,
					date: { confirm: 'Are you sure?' } %>
			<% else %>
			<% end %>
	</section>
</article>