section.test {
	color: #D44242;
}

.title {
	text-align: center;
}

p.text-box {
	height: 200px;
}

.button-group li {
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer.row {
	padding-top: 50px;
}

article.row {
	padding-top: 50px;
}